<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="tech.waxen.was">

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/was_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/was_logo"
        android:supportsRtl="true"
        android:theme="@style/WasTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:icon"
        tools:targetApi="m">
        <activity android:name=".CaptureActivity"/>
        <activity android:name=".AttendanceStudent" />
        <activity android:name=".UpdateStudentInSubjectActivity" />
        <activity
            android:name=".StudentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:label="WAS"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LockScreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>